<h1>Stumped on a <span>rhyme</span>? Find one in no time.</h1>
<form action="javascript:RhymeBrainSubmit()">
    <input type=text id="RhymeBrainInput">
    <input class="button" type=submit value="Rhyme">
</form>
<div id="results"><script type="text/javascript">
    var RhymeBrainMaxResults = 50;
</script>
<script type="text/javascript" src="http://rhymebrain.com/external.js"></script></div>
<p>Rhyme results are provided by <a href="http://rhymebrain.com">RhymeBrain.com</a></p>
